/* overwrite vuetify */
.v-list-item--density-default.v-list-item--three-line {
  min-height: unset !important;
}

.v-list-item--density-default.v-list-item--three-line .v-list-item__prepend, .v-list-item--density-default.v-list-item--three-line .v-list-item__append {
  padding: 0px !important;
}


/* overwrite datepicker */
.vuejs3-datepicker__value {
  border-radius: 0px !important;
  border: 1px solid #9e9e9e !important;
  height: 56px;
}

/* Ohters */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.button-primary {
  color: white !important;
  background-color: #5865f2 !important;
  border-radius: 0px !important;
}

.button-xxl {
  height: 56px !important;
}